# ACT & SAT Analysis

# Problem Statement:
## Look at aggregate SAT and ACT scores and participation rates from each state in the United States. We'll seek to identify trends in the data and combine our data analysis with outside research to identify likely factors influencing participation rates and scores in various states. As an employee of the College Board - the organization that administers the SAT - you are a part of a team that tracks statewide participation and recommends where money is best spent to improve SAT participation rates.

### Import necessary libraries

In [1]:
import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
sat17 = pd.read_csv('../data/sat_2017.csv')
act17 = pd.read_csv('../data/act_2017.csv')
sat18 = pd.read_csv('../data/East_Coast_Data_Entry - SAT 2018.csv')
act18 = pd.read_csv('../data/East_Coast_Data_Entry - ACT 2018.csv')

In [3]:
sat17.loc[20,['Math']] = 524

In [4]:
sat17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
State                                 51 non-null object
Participation                         51 non-null object
Evidence-Based Reading and Writing    51 non-null int64
Math                                  51 non-null int64
Total                                 51 non-null int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [5]:
act17['Participation'] = act17['Participation'].apply(lambda x: x.replace('%',''))
act18['Participation'] = act18['Participation'].apply(lambda x: x.replace('%',''))
sat17['Participation'] = sat17['Participation'].apply(lambda x: x.replace('%',''))
sat18['Participation'] = sat18['Participation'].apply(lambda x: x.replace('%',''))

In [6]:
act17['Participation'] = act17['Participation'].astype('float')
act18['Participation'] = act18['Participation'].astype('float')
sat17['Participation'] = sat17['Participation'].astype('float')
sat18['Participation'] = sat18['Participation'].astype('float')

In [7]:
sat17.rename(columns={'State'                             :'state',
                      'Participation'                     :'s17_part', 
                      'Evidence-Based Reading and Writing':'s17_read_write', 
                      'Math'                              :'s17_math',
                      'Total'                             :'s17_total'}, inplace=True)

In [8]:
sat18.rename(columns={'State'                             :'state',
                      'Participation'                     :'s18_part', 
                      'Evidence-Based Reading and Writing':'s18_read_write', 
                      'Math'                              :'s18_math',
                      'Total'                             :'s18_total'}, inplace=True)

In [9]:
act17.rename(columns={'State'        :'state', 
                      'Participation':'a17_part', 
                      'English'      :'a17_english', 
                      'Math'         :'a17_math', 
                      'Reading'      :'a17_reading', 
                      'Science'      :'a17_science',
                      'Composite'    :'a17_composite'}, inplace=True)

In [10]:
act18.rename(columns={'State'        :'state',
                      'Participation':'a18_part',
                      'Composite'    :'a18_composite'}, inplace=True)

In [16]:
act17.loc[51,['a17_composite']] = 20.2

In [28]:
act17['a17_composite'] = act17['a17_composite'].astype('float')

In [29]:
act17.dtypes

state             object
a17_part         float64
a17_english      float64
a17_math         float64
a17_reading      float64
a17_science      float64
a17_composite    float64
dtype: object

In [36]:
act17.drop([0], inplace=True)

In [39]:
act18.drop([51], inplace=True)

In [41]:
sat18.drop([51], inplace=True)

In [45]:
act18.loc[8, ['state']] = 'District of Columbia'

In [62]:
both17 = pd.merge(sat17, act17, how='inner', on='state')

In [63]:
both18 = pd.merge(sat18, act18, how='inner', on='state')

In [67]:
both17_18 = pd.merge(both17, both18, how='inner', on='state')

In [75]:
both17_18.describe().T

,count,mean,std,min,25%,50%,75%,max
s17_part,51.0,39.803922,35.276632,2.0,4.00,38.0,66.00,100.0
s17_read_write,51.0,569.117647,45.666901,482.0,533.50,559.0,613.00,644.0
s17_math,51.0,556.882353,47.121395,468.0,523.50,548.0,599.00,651.0
s17_total,51.0,1126.098039,92.494812,950.0,1055.50,1107.0,1212.00,1295.0
a17_part,51.0,65.254902,32.140842,8.0,31.00,69.0,100.00,100.0
a17_english,51.0,20.931373,2.353677,16.3,19.00,20.7,23.30,25.5
a17_math,51.0,21.182353,1.981989,18.0,19.40,20.9,23.10,25.3
a17_reading,51.0,22.013725,2.067271,18.1,20.45,21.8,24.15,26.0
a17_science,51.0,21.041176,3.182463,2.3,19.90,21.3,22.75,24.9
a17_composite,51.0,21.519608,2.020695,17.8,19.80,21.4,23.60,25.5
s18_part,51.0,45.235294,37.300718,2.0,4.50,48.0,77.50,100.0
s18_read_write,51.0,567.705882,45.311056,497.0,535.00,554.0,616.50,643.0
s18_math,51.0,558.450980,49.464862,480.0,521.50,547.0,601.00,655.0
s18_total,51.0,1126.156863,94.444136,977.0,1063.00,1099.0,1220.00,1298.0
a18_part,51.0,61.725490,34.037085,7.0,28.50,66.0,100.00,100.0
a18_composite,51.0,21.496078,2.111583,17.7,19.95,21.3,23.65,25.6

In [73]:
np.std(both17_18)

s17_part          34.929071
s17_read_write    45.216970
s17_math          46.657134
s17_total         91.583511
a17_part          31.824176
a17_english        2.330488
a17_math           1.962462
a17_reading        2.046903
a17_science        3.151108
a17_composite      2.000786
s18_part          36.933214
s18_read_write    44.864630
s18_math          48.977511
s18_total         93.513630
a18_part          33.701736
a18_composite      2.090779
dtype: float64