# ACT & SAT Analysis

# Problem Statement:
## Look at aggregate SAT and ACT scores and participation rates from each state in the United States. We'll seek to identify trends in the data and combine our data analysis with outside research to identify likely factors influencing participation rates and scores in various states. As an employee of the College Board - the organization that administers the SAT - you are a part of a team that tracks statewide participation and recommends where money is best spent to improve SAT participation rates.

### Import necessary libraries

In [1]:
import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
sat17 = pd.read_csv('../data/sat_2017.csv')
act17 = pd.read_csv('../data/act_2017.csv')
sat18 = pd.read_csv('../data/East_Coast_Data_Entry - SAT 2018.csv')
act18 = pd.read_csv('../data/East_Coast_Data_Entry - ACT 2018.csv')

In [3]:
sat17.loc[20,['Math']] = 524

In [4]:
sat17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
State                                 51 non-null object
Participation                         51 non-null object
Evidence-Based Reading and Writing    51 non-null int64
Math                                  51 non-null int64
Total                                 51 non-null int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [26]:
def percent_change(data):
    for x in data:
#         x['Participation'] = x.replace('%','') & x.astype('float')
#     return data
#         if x == 'Participation':
        x.replace('%','') & x.astype('float')
    return x
#         else:
#             break

In [27]:
percent_change(sat17)

AttributeError: 'str' object has no attribute 'astype'

In [6]:
percent_change(sat17)

percent_change(act17)

percent_change(sat18)

percent_change(act18)

In [7]:
sat17.columns

Index(['State', 'Participation', 'Evidence-Based Reading and Writing', 'Math',
       'Total'],
      dtype='object')

In [8]:
act17.columns

Index(['State', 'Participation', 'English', 'Math', 'Reading', 'Science',
       'Composite'],
      dtype='object')

In [9]:
sat18.columns

Index(['State', 'Participation', 'Evidence-Based Reading and Writing', 'Math',
       'Total'],
      dtype='object')

In [10]:
act18.columns

Index(['State', 'Participation', 'Composite'], dtype='object')

In [11]:
sat17.rename(columns={'State'                             :'state',
                      'Participation'                     :'s17_part', 
                      'Evidence-Based Reading and Writing':'s17_read_write', 
                      'Math'                              :'s17_math',
                      'Total'                             :'s17_total'}, inplace=True)

In [12]:
sat18.rename(columns={'State'                             :'state',
                      'Participation'                     :'s18_part', 
                      'Evidence-Based Reading and Writing':'s18_read_write', 
                      'Math'                              :'s18_math',
                      'Total'                             :'s18_total'}, inplace=True)

In [13]:
act17.rename(columns={'State'        :'state', 
                      'Participation':'a17_part', 
                      'English'      :'a17_english', 
                      'Math'         :'a17_math', 
                      'Reading'      :'a17_reading', 
                      'Science'      :'a17_science',
                      'Composite'    :'a17_composite'}, inplace=True)

In [14]:
act18.rename(columns={'State'        :'state',
                      'Participation':'a18_part',
                      'Composite'    :'a18_composite'}, inplace=True)

In [15]:
act17.head()

,state,a17_part,a17_english,a17_math,a17_reading,a17_science,a17_composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4